<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appstore">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone_appstore"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icone_appstore_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppStore">

        <activity
            android:name=".DeleteSale"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".newsale" />
        <activity android:name=".history"/>
        <activity android:name=".Main" />
        <activity android:name=".registreproduct" />
        <activity android:name=".loadproduct" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.appstore.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <receiver android:name=".Broadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service android:name=".MyService"
            android:exported="true">
            <intent-filter>
                <action android:name="INICIAR_SERVICE"></action>
            </intent-filter>
    </service>

    </application>

</manifest>